@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="header-image">
        <img id ="bg" src="~/css/images/basil.jpg" style="width: 100%; height: 600px" class="img-responsive">
    </div>
</div>