@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div style="height: 500px; margin-top:-30px; padding-top:0;">
        <img src="~/css/images/basil.jpg" style="height:500px; width:100%;background-repeat:no-repeat;background-size:cover;"/>
    </div>

    <div style="height: 950px; background-color:#fff;">
        <div class="index-title">
            <h3>Featured</h3>
        </div>
        <div class="index-items">
            <div class="card text-dark bg-light" style="width: 20%; float:left;margin: 2em; padding: 1em;">
                <img class="card-img-top" src="http://hwalls.com/upload/orange_wallpaper1155.jpg" alt="Card image cap" style="width: 150px; height: 200px;margin: 0 auto;">
                <div class="card-body">
                    <p class="card-text">Orange Juice</p>
                    <p style="color:green;">$2.99</p>
                    <a class="bg-dark text-light" style="font-size: 12px;text-align:center; margin: 0 auto;padding: 10px 20px" src="#">Add To Cart</a>
                </div>
            </div>
            <div class="card text-dark bg-light" style="width: 20%; float:left;margin: 2em 1em; padding: 1em;">
                <img class="card-img-top" src="~/css/images/chicken-breast.png" alt="Card image cap" style="width: 150px; height: 200px;margin: 0 auto;">
                <div class="card-body">
                    <p class="card-text">Chicken Breast</p>
                    <p style="color:green;">$4.99</p>
                    <a class="bg-dark text-light" style="font-size: 12px;text-align:center; margin: 0 auto;padding: 10px 20px" src="#">Add To Cart</a>
                </div>
            </div>
            <div class="card text-dark bg-light" style="width: 20%; float:left;margin: 2em 1em; padding: 1em;">
                <img class="card-img-top" src="~/css/images/onions.jpg" alt="Card image cap" style="width: 150px; height: 200px;margin: 0 auto;">
                <div class="card-body">
                    <p class="card-text">Onions</p>
                    <p style="color:green;">$2.99</p>
                    <a class="bg-dark text-light" style="font-size: 12px;text-align:center; margin: 0 auto;padding: 10px 20px" src="#">Add To Cart</a>
                </div>
            </div>

            <div class="card text-dark bg-light" style="width: 20%; float:left;margin: 2em; padding: 1em;">
                <img class="card-img-top" src="~/css/images/donut.png" alt="Card image cap" style="width: 150px; height: 200px;margin: 0 auto;">
                <div class="card-body">
                    <p class="card-text">Onions</p>
                    <p style="color:green;">$2.99</p>
                    <a class="bg-dark text-light" style="font-size: 12px;text-align:center; margin: 0 auto;padding: 10px 20px" src="#">Add To Cart</a>
                </div>
            </div>

            <div class="card text-dark bg-light" style="width: 20%; float:left;margin: 2em; padding: 1em;">
                <img class="card-img-top" src="~/css/images/donut.png" alt="Card image cap" style="width: 150px; height: 200px;margin: 0 auto;">
                <div class="card-body">
                    <p class="card-text">Onions</p>
                    <p style="color:green;">$2.99</p>
                    <a class="bg-dark text-light" style="font-size: 12px;text-align:center; margin: 0 auto;padding: 10px 20px" src="#">Add To Cart</a>
                </div>
            </div>

            <div class="card text-dark bg-light" style="width: 20%; float:left;margin: 2em 1em; padding: 1em;">
                <img class="card-img-top" src="~/css/images/onions.jpg" alt="Card image cap" style="width: 150px; height: 200px;margin: 0 auto;">
                <div class="card-body">
                    <p class="card-text">Onions</p>
                    <p style="color:green;">$2.99</p>
                    <a class="bg-dark text-light" style="font-size: 12px;text-align:center; margin: 0 auto;padding: 10px 20px" src="#">Add To Cart</a>
                </div>
            </div>


        </div>
    </div>


</div>