
@model OrderSystem.Models.User_Registration
@{
    ViewData["Title"] = "User Profile";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>@ViewData["Title"].</h2>

            <div class="col-md-4">
                <h3>@Model.First_Name</h3>
                <p>
                    <i class="glyphicon glyphicon-envelope"></i> @Model.Email_ID
                </p>
            </div>
        </div>
    </div>
</div>