

@model List<OrderSystem.Models.Category_Detail>


@{
    ViewData["Title"] = "Category Detail";
    var categories = ViewData["categories"] as List<Category_Detail>;

}

<h3>@ViewData["Message"]</h3>



<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>


    <div class="text-center">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Category Name</th>

            </tr>
            @foreach (Category_Detail category in categories)
            {
                <tr>
                    <td>
                        @category.Category_Name
                    </td>

                </tr>
            }
        </table>
    </div>

</div>